.wp-block-table {
  text-align: left;
  
  table {
    border-spacing: 0;
  }

  thead {
    border: none;
    color: $color-white;
    background-color: $color-bus;
    font-weight: normal;
  }

  tbody tr:nth-child(even) {
    background-color: $color-bus-light;
  }

  td,
  th {
    border: none;
    border: 0;
    padding: $spacing-2-xs;
  }

  th {
    padding-top: $spacing-m;
    padding-bottom: $spacing-m;
    line-height: $lineheight-l;
  }

  &.is-style-stripes {
    tbody tr:nth-child(even) {
      background-color: $color-black-10;
    }
  }
}
